<% layout('layouts/boilerplate')%>
<div class="row mb-3">
    <h1 class="text-center">Edit blog</h1>
    <div class="col-8 offset-2 bg-light rounded">
        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    name="blog[title]"
                    value="<%= blog.title %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Body</label>
                <textarea
                    name="blog[body]"
                    class="form-control"
                    id="body"
                    cols="30"
                    rows="10"
                    required
                ><%= blog.body %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="blog[image]"
                    value="<%= blog.image %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update</button>
            </div>
        </form>
    </div>
    <a href="/blogs">All blogs</a>
</div>
