<!-- !!ADD ADDITIONAL CSS -->

<nav id="mainNavbar" class="navbar navbar-expand-md navbar-light sticky-top border bg-body">
    <div class="container-fluid px-5">
        <a class="navbar-brand px-lg-3 px-xl-5" href="/">RIYA</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link px-lg-3 px-xl-4" aria-current="page" href="/">HOME</a>
                <a class="nav-link px-lg-3 px-xl-4" href="#">BOOKS</a>
                <a class="nav-link px-lg-3 px-xl-4" href="/blogs">BLOGS</a>
                <a class="nav-link px-lg-3 px-xl-4" href="#">ABOUT</a>
                <a class="nav-link px-lg-3 px-xl-4" href="#">CONTACT ME</a>
            </div>
        </div>
    </div>
</nav>
