<% layout('layouts/boilerplate')%>


<h3><i class=""></i>RIYA</h3>
<div class="section">
    <p class="lead">Thought of train</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class=""></i>Log In With Google</a>
</div>